@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/* PROJECT PAGE*/
.projects-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.library-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    height: 400px;
    width: 450px;
    padding: 10px;
    box-shadow: 2px 2px 2px;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.hangman-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    height: 400px;
    width: 450px;
    padding: 10px;
    box-shadow: 2px 2px 2px;
    animation: fadeIn 5s;
}

.library-project-container img {
    box-shadow: 2px 2px 2px;
}

.library-project-container p {
    margin: 20px 70px 0 70px;
    font-family: 'Fira Sans', sans-serif;
    text-shadow: 2px 2px 2px #fffafa00;
}

.hangman-project-container img {
    box-shadow: 2px 2px 2px;
}

.hangman-project-container p {
    margin: 20px 70px 0 70px;
    font-family: 'Fira Sans', sans-serif;
    text-shadow: 2px 2px 2px #fffafa00;
}

.todo-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    height: 400px;
    width: 450px;
    padding: 10px;
    box-shadow: 2px 2px 2px;
    animation: fadeIn 5s;
}
